/* COMMON */
body{
    font-family: "Source Sans Pro", sans-serif;
}

.layout .navbar-collapse{
    justify-content: space-between;
}

@media (max-width: 992px){
    .layout{
        margin-top: 6rem;
    }
    nav.navbar{
        position: fixed;
        right: 0;
        left: 0;
        border-radius: 0;
        top: 0;
        z-index: 999;
    }
    nav.navbar .container{
        margin-left: 0;
    }

    nav.navbar a.navbar-brand{
        margin-top: 1rem;
    }

    nav.navbar ul.navbar-nav{
        margin-top: 0 !important;
    }
}

button.navbar-toggler{
    outline: 0 !important;
    border-width: 2px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /*background: #6f7273;*/
    /*background: #222;*/
    background: #1b1b1b;
    color: #fff;
    padding: 1rem 0;
}

footer .footer-email{
    text-align: right;
}

.posts-list,
.single-post{
    margin-top: 3rem;
}

.post-item{
    margin-bottom: 3.4rem;
}

.post-item .category,
.post-item .category a{
    color: #d6b161;
    /*text-transform: uppercase;*/
    font-size: .85rem;
}

.post-item h3,
.single-post h1{
    color: #222;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2rem;
}

.post-item .post-info{
    color: #7e7e7e;
    font-size: .85rem;
}

.post-item .author-and-date,
.post-item .author-and-date a{
    color: #909090;
}

.post-item .description{
    line-height: 1.7rem;
}

.post-item .read-more{
    text-transform: uppercase;
    color: #bbb;
}

.custom-pagination{
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.custom-pagination li a,
.custom-pagination li a:hover,
.custom-pagination li span,
.custom-pagination li span:hover{
    margin: 0 3px;
    color: #424242;
    border-color: #ddd;
    font-size: .8rem;
}

.custom-pagination .page-item.active span{
    background-color: #222;
    border-color: #222;
    color: #fff;
}

/* BLOG LAYOUT: GRID */
.layout-grid .post-item .category{
    margin-bottom: .45rem;
}

.layout-grid .post-item .post-info{
    margin-top: 1.7rem;
    margin-bottom: 1rem;
}

.layout-grid .post-info h3{
    margin-bottom: .85rem;
}

.layout-grid .post-info .description{
    margin-top: .85rem;
    margin-bottom: 1.7rem;
}

/* BLOG LAYOUT: LIST */
.layout-list .post-item{
    margin-bottom: 6rem;
}

.layout-list .post-item .category{
    margin-bottom: .85rem;
}

.layout-list .post-item .category a{
    text-transform: uppercase;
    font-size: .75rem;
}

.layout-list .post-item h3{
    margin-bottom: .85rem;
}

.layout-list .post-item .author-and-date{
    text-align: center;
    text-transform: uppercase;
    font-size: .75rem;
    letter-spacing: 1px;
}

.layout-list .post-item .author-and-date a{
    font-size: .75rem;
}

.layout-list .post-item .description{
    margin-top: .85rem;
    margin-bottom: 1.7rem;
}

@media(max-width: 767px){
    .layout-list .post-item:nth-child(odd) .post-info{
        margin-top: .85rem;
    }
    .layout-list .post-item:nth-child(even) .post-info{
        margin-bottom: .85rem;
    }
}

/* BLOG LAYOUT: FULLWIDTH */
.layout-fullwidth .post-item{
    margin-bottom: 6rem;
}

.layout-fullwidth .post-item img{
    width: 100%;
}

.layout-fullwidth .post-item .date{
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: .25rem 0 .75rem;
}

.layout-fullwidth .post-item .date span{
    display: block;
}

.layout-fullwidth .post-item .date span.number{
    font-size: 2.25rem;
}

.layout-fullwidth .post-item .date span.rest{
    font-size: .85rem;
    text-transform: uppercase;
    margin-top: -.25rem;
}

.layout-fullwidth .post-item h3{
    margin-top: 2rem;
    margin-bottom: .85rem;
}

.layout-fullwidth .post-item .author-and-category{
    font-size: .75rem;
    text-transform: uppercase;
    color: #909090;
}

.layout-fullwidth .post-item .author-and-category a{
    color: #909090;
}

.layout-fullwidth .post-item .description{
    margin-top: 1.85rem;
    margin-bottom: .85rem;
}

.layout-fullwidth .post-item .read-more{
    color: #fff;
    background: #222;
    font-size: .75rem;
    padding: 10px 20px;
    letter-spacing: 1px;
}

.layout-fullwidth .post-item .read-more:hover{
    background: #d6b161;
}

/* BLOG LAYOUT: POST FULLWIDTH; BLOG LAYOUT: POST SIDEBAR */
.layout-post h1{
    margin-top: 1.85rem;
    margin-bottom: .85rem;
    letter-spacing: 1px;
    font-weight: 300;
}

.layout-post .post-info{
    font-size: .75rem;
    text-transform: uppercase;
    color: #909090;
}

.layout-post .post-info .post-info-item{
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: .5rem;
}

.layout-post .post-info a{
    color: #909090;
}

.layout-post .post-text{
    margin: 1.85rem 0;
}

.layout-post .post-text p{
    margin: 0 0 .85rem;
    color: #7e7e7e;
    line-height: 1.85rem;
    font-size: .85rem;
}

.layout-post .post-text p:last-child{
    margin-bottom: 0;
}

.layout-post .post-tags{
    margin-bottom: 1.35rem;
}

.layout-post .post-tags h5{
    color: #333;
    font-size: 0.85rem;
    text-transform: uppercase;
    margin-bottom: .35rem;
}

.layout-post .post-tags a{
    float: left;
    margin-right: .6rem;
    margin-bottom: .6rem;
    padding: 5px 12px;
    color: #837f7e;
    border: 1px solid #d3d3d3;
    border-radius: 50px;
    font-size: .75rem;
    text-decoration: none;
    transition: all .3s;
}

.layout-post .post-tags a:hover{
    text-decoration: none;
    background: #d6b161;
    color: #fff;
    border: 1px solid #d6b161;
}

.layout-post .post-share{
    margin-bottom: 1.85rem;
}

.layout-post .post-share h5{
    color: #333;
    font-size: 0.85rem;
    text-transform: uppercase;
    margin-bottom: .35rem;
}

.layout-post .post-share a{
    float: left;
    width: 2rem;
    height: 2rem;
    text-align: center;
    margin-right: 10px;
    color: #5a5a5a;
    border: 1px solid #5a5a5a;
    font-size: 1.25rem;
    text-decoration: none;
    transition: all .3s;
    border-radius: 10%;
}

.layout-post .post-share a:hover{
    text-decoration: none;
    background: #d6b161;
    color: #fff;
    border: 1px solid #d6b161;
}

.layout-post .post-nav{
    padding: 1.85rem 15px;
    box-sizing: border-box;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    margin-bottom: 1.85rem;
}

.layout-post .post-nav a{
    color: #d2d2d2;
    text-decoration: none;
}

.layout-post .post-nav a:hover{
    text-decoration: none;
    color: #323232;
}

.layout-post .post-nav a i{
    font-size: 3rem;
}

.layout-post .post-nav a .nav-text{
    font-size: 1.5rem;
    line-height: 3rem;
}

.layout-post .post-nav .prev-post{
    width: 45%;
    float: left;
    text-align: left;
}

.layout-post .post-nav .prev-post a i{
    float: left;
    margin-right: 1.5rem;
}

.layout-post .post-nav .next-post{
    width: 45%;
    float: left;
    text-align: left;
}

.layout-post .post-nav .next-post a i{
    float: right;
    margin-left: 1.5rem;
}

.layout-post .post-nav .home-link{
    float: left;
    width: 10%;
    text-align: center;
}

.layout-post .post-nav .next-post{
    width: 45%;
    float: right;
    text-align: right;
}

@media(max-width: 767px) {
    .layout-post .post-nav a .nav-text{
        font-size: 1rem;
    }
}

.layout-post .post-comments{
    margin-bottom: 1.85rem;
}

.layout-post .post-comments h5{
    color: #333;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-bottom: 0.85rem;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: .85rem;
}

.layout-post .post-comments .comments-list > .comment-item{
    margin-bottom: 2rem;
}

.layout-post .post-comments .comments-list > .comment-item:last-child{
    margin-bottom: 0;
}

.layout-post .post-comments .comment-item .user-image{
    font-size: 4rem;
    color: #222;
}

.layout-post .post-comments .comment-item .user-info{
    margin-top: 1rem;
    font-size: .85rem;
    color: #7e7e7e;
}

.layout-post .post-comments .comment-item .user-name{
    color: #222;
    font-weight: bold;
    text-transform: uppercase;
}

.layout-post .post-comments .comment-item .time-and-reply{
    margin-bottom: .5rem;
}

.layout-post .post-comments .comment-item .time-and-reply a{
    text-decoration: none;
    color: #7e7e7e;
}

.layout-post .post-comments .comment-item .time-and-reply a:hover{
    text-decoration: none;
    color: #d6b161;
}

.layout-post .post-comments .comment-item .time-and-reply a i{
    margin-left: 2rem;
    margin-right: .25rem;
}

@media(max-width: 1199px){
    .layout-post .post-comments .comment-item .user-image i{
        font-size: 3rem;
    }
}

@media(max-width: 767px){
    .layout-post .post-comments .comment-item .user-image i{
        font-size: 2rem;
    }
}

.layout-post .post-leave-comment{
    background: #f8f8f8;
    padding: 3rem;
    border-radius: 1.25rem;
    margin-bottom: 4rem;
}

.layout-post .post-leave-comment form .form-section{
    margin-bottom: 1.25rem;
}

.layout-post .post-leave-comment form input[type="text"]{
    height: 3rem;
    border: 1px solid #fff;
    background: #fff;
    font-size: .85rem;
    vertical-align: middle;
    width: 100%;
    padding: .5rem 1rem;
    color: #9b9a9a;
    outline: none !important;
    border-radius: .25rem;
    transition: all ease-in-out .15s;
}

.layout-post .post-leave-comment form textarea{
    resize: none;
    border: 1px solid #fff;
    background: #fff;
    font-size: .85rem;
    width: 100%;
    padding: .5rem 1rem;
    color: #9b9a9a;
    outline: none !important;
    border-radius: .25rem;
    transition: all ease-in-out .15s;
    outline: none !important;
}

.layout-post .post-leave-comment form input[type="text"]:focus,
.layout-post .post-leave-comment form textarea:focus{
    border: 1px solid #222222;
    color: #222222;
}

.layout-post .post-leave-comment form input[type="submit"]{
    background: #222222;
    color: #ffffff;
    text-transform: uppercase;
    border: 1px solid #222222;
    border-radius: .25rem;
    width: 100%;
    padding: .5rem 1rem;
    height: 3rem;
    outline: none !important;
}

.layout-post .post-leave-comment form input[type="submit"]:hover{
    background: #d6b161;
    color: #fff;
    border: 1px solid #d6b161;
}

/* BLOG LAYOUT: POST SIDEBAR */
.sidebar-item{
    margin-bottom: 3rem;
}

.sidebar-item-title{
    font-size: 1.15rem;
    text-transform: uppercase;
    color: #222222;
    padding-bottom: .6rem;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 1rem;
}

.sidebar-list{
    list-style-type: none;
    padding: 0;
}

.sidebar-list li{
    margin-bottom: .75rem;
}

.sidebar-list li a{
    text-decoration: none;
    color: #837f7e;
    font-size: .85rem;
    transition: all .3s;
}

.sidebar-list li a:before {
    padding-right: 10px;
    content: "\f105";
    font-family: "FontAwesome";
}

.sidebar-list li a:hover{
    color: #d6b161;
}

.sidebar-tags a{
    float: left;
    margin-right: .7rem;
    margin-bottom: .7rem;
    padding: .2rem .5rem;
    color: #837f7e;
    border: 1px solid #d3d3d3;
    border-radius: 3rem;
    font-size: .85rem;
    text-decoration: none;
    transition: all .3s;
}

.sidebar-socials a{
    float: left;
    width: 2rem;
    height: 2rem;
    text-align: center;
    margin-right: 10px;
    color: #5a5a5a;
    border: 1px solid #5a5a5a;
    font-size: 1.25rem;
    text-decoration: none;
    transition: all .3s;
    border-radius: 10%;
}

.sidebar-tags a:hover,
.sidebar-socials a:hover{
    background: #d6b161;
    border: 1px solid #d6b161;
    color: #ffffff;
}

.sidebar-post-item{
    margin-bottom: 1.25rem;
}

.sidebar-post-item-image{
    padding-right: 0;
}

.sidebar-post-item-info h4{
    text-transform: uppercase;
    color: #333;
    font-size: .85rem;
    line-height: 1.25rem;
}

.sidebar-post-item-info p{
    color: #9b9a9a;
    font-size: .85rem;
}

.layout-post.layout-post-sidebar .post-comments .comment-item .user-image{
    font-size: 5rem;
}

.layout-post.layout-post-sidebar .post-comments .comment-item .user-info{
    padding-left: 0;
}

.layout-post.layout-post-sidebar .post-comments .comment-item .comment-item .user-info{
    padding-left: 15px;
}